.cards-page {
    position: relative;
}

.cards-loadout {
    border-bottom: 2px dotted black;
    flex: 1;
    padding-bottom: 1rem;
}

.cards-loadout-content {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.cards-inventory {
    background: #a59b63;
    flex: 1;
    padding-top: 1rem;
}

.cards-inventory-content {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cards-inventory, .cards-loadout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 1rem;
}

.cards-page h2 {
    text-transform: uppercase;
    font-weight: 800;
}

.selected-to-swap.selected-to-swap{
    border: 2.5px dashed white;
    transition: all 0.25s ease 0s;
    transform: scale(0.95);
}

.level-points-wrapper {
    padding: 0.5rem 1rem;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    display: flex;
    gap: 1rem;
}

.level-points-title {
    font-size: 1.75rem;
}

.level-points-reset {
    font-size: 1.75rem;
    transform: rotate(90deg) scaleX(-1);
    cursor: pointer;
}

.level-points-reset:hover {
    color: white;
}